<h1>Add new Employee</h1>
<form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
  <div>
    <label for="firstName">First Name</label>
    <input type="text"
           id="firstName"
           name="firstName"
           placeholder="Enter employee first name"
           required
           #fistName="ngModel"
           [(ngModel)]="employee.firstName">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text"
           id="lastName"
           name="lastName"
           placeholder="Enter employee last name"
           required
           #lastName="ngModel"
           [(ngModel)]="employee.lastName">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text"
           id="email"
           name="firstName"
           placeholder="Enter employee email"
           required
           #email="ngModel"
           [(ngModel)]="employee.email">
  </div>
  <button type="submit" [disabled]="!employeeForm.form.valid">Save</button>
</form>
